  /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

a:hover{
	text-decoration: none;
}
p,span:hover{
	color: #4f4f4f;
}

body {
	line-height: 1;
}
ol, ul {
	list-style-type: disc;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 0px!important;
}

.text-gray{
	color: #bdbdbd;
}

.height100{
	height: 100%;
}

.textoverfl-2{
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.row{
	margin-left: 0px;
	margin-right: 0px;
}

td{
	font-size: 10px;
	white-space:nowrap;
	padding: 0px!important;
}

tr{
	line-height: 160%;
}

.li-hi-0{
	line-height: normal;
}

p,span{
  line-height: 160%;
}

h1{
	font-size: 32px;
	font-weight: bold;
	font-family: "Merriweather",serif;
}

.textoverfl-5{
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.dp-n{
	display: none;
}

.with100{
	width: 100%;
}

.with50{
	width: 50%;
}

.mw100{
	max-width: 100%;
}

.has-border-t{
	margin-top: 20px;
	padding-top: 20px;
}

.has-border-bt{
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.textoverfl-4{
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.textoverfl-3{
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.textoverfl-6{
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.textoverfl-1{
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.content-news{
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.container{
	max-width: 1130px;
	width: 100%;
	margin: 0 auto;
	padding: 0px!important;
}

/* .p-0{
	padding: 0px;
} */

div{
	font-size: 15px;
	color: #4f4f4f;
	font-family: Arial, Helvetica, sans-serif;
}

li{
	list-style: none;
}

a{
	color: #4f4f4f;
}

.flexbox{
	display: flex;
	align-items: center;
}

h3{
	font-size: 20px;
	font-weight: bold;
	line-height: 140%;
}

h4{
	font-size: 17px;
	font-weight: bold;
	line-height: 140%;
}

.tirtle-news{
  line-height: 140%;
}

.content-news,.note-news{
	line-height: 140%;
}


.top-header{
	display: flex;
	justify-content: space-between;
	margin-bottom: 12px;
	padding-top: 10px!important;
}

.he-r-1{
	border: solid 1px #ebebeb;
	height: 100%;
	border-radius: 3px;
	margin-right: 6px;
}

.he-r-2{
	border: solid 1px #ebebeb;
	height: 100%;
	border-radius: 3px;
	margin-right: 18px	;
}

.he-r-2 img{
	max-height: 14px;
}

	
.he-r-3{
	border: solid 1px #ebebeb;
    border-radius: 14px;
	height: 100%;
	margin-bottom: 0px;
}

.he-r-3::before{
	content: '';
    width: 1px;
    height: 100%;
    background: #e5e5e5;
    position: absolute;
    left: -9px;
    top: 0px;
}

.he-r-4{
	height: 100%;
}

.header-right{
	justify-content: space-between;
}

.header-left{
	justify-content: space-between;
	
}

.input-he{
	border: none;
	padding-left: 10px;
	outline: none;
}

.logo-vnexpr{
	border-right: solid 1px #ebebeb;
}

.search{
	color: #bdbdbd;
}

.schedule{
	color: #bdbdbd;
}

.person{
	color: #bdbdbd;
}

.parent{
	padding: 10px 0px;
    width: 100%;
    justify-content: space-between;
    max-width: 1370px;
    margin: 0 auto;
}

.parent li{
	padding: 0px!important;
	font-weight: bold;
}

.main-nav{
	border-top: solid 1px #ebebeb;
	border-bottom: solid 1px #ebebeb;
	background: #fff;
	z-index: 10;
}

.home{
	border: solid 0px;
    border-radius: 50%;
    background: #ebebeb;
    padding: 4px;
}

.last-li-parent{
	color: #bdbdbd;
}

.last-li-parent:hover{
	color: #b93434;
}

.bg-all-section{
	background: url(../image/bg-cover-vnexpr.png);
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0px;
}

.section-1{
	background-repeat: no-repeat;
    min-height: 220px;
    background-size: cover;
    padding: 0;
    margin: 0 auto;
    opacity: 0;
}

.content{
	background: #fff;
}


.section-3,.section-2{
	margin-right: 0px;
	margin-left: 0px;
}

.news-img img{
	width: 100%;
}

.sec2-col-right img{
	width: 100%;
    height: 100%;
    object-fit: cover;
}

.left-bottom-left{
	display: flex;
}

.left-bottom-left p{
	line-height: 140%;
}

.col-left-bottom{
	display: flex;
	padding-top: 10px;
}

.info-author{
	position: absolute;
	left: 0px;
	bottom: 0px;
}

.author{
	flex-direction: column;
	align-items: flex-start;
	
}

.img-author img{
	width: 100%;
	border: solid 0px;
	border-radius: 50%;
	
}

.left-bottom-right{
	position: relative;
}

.bg-header{
	background-image: url(../image/Capture.PNG);
	min-height: 270px;
    background-repeat: no-repeat;
    background-size: cover;
}

.item-news-vnexpr{
	border-top: 1px solid #e5e5e5;
    margin-top: 15px;
    padding-top: 15px;
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.stock{
	display: flex;
	flex-wrap: wrap;
	border-top: solid 1px #bdbdbd;
}

.tracking{
	background-image: url(../image/Tracking.svg);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 20px;
    min-width: 20px;
    margin-right: 5px;
}

.icon-news{
	background-image: url(../image/News.svg);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 20px;
    min-width: 20px;
    margin-right: 5px;
}

.content-tbl{
	overflow-y: auto;
}

.data-cv{
	overflow: hidden;
}

.table thead th{
	border-top: none;
	border-bottom: none;
}

.innerbox{
    border: solid 1px #ebebeb;
    padding: 15px;
	background-color: #ebebeb;
}

.scroll-table{
	    max-height: 88px;
		overflow: auto;
}

.has-before{
	position: relative;
}

.has-before::before{
	width: 6px;
    height: 6px;
    border-radius: 50%;
    content: '';
    background: #ababab;
    position: absolute;
    top: 13px;
    left: 0;
}

.price-gold::after{
	border: solid #076FBA;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2.5px;
    transform: rotate(-45deg);
    position: absolute;
    top: 9px;
    content: '';
    left: 48px;
}

.price-gold::before{
	border: solid #076FBA;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2.5px;
    transform: rotate(-45deg);
    position: absolute;
    top: 9px;
    content: '';
    left: 45px;
}

.price-gold{
	position: relative;
}

.box-category-son img{
	min-height: 76px;
    object-fit: cover;
}

.chatbubble{
	color: #bdbdbd;
}

.box-flag img{
   max-width: 12px;
   margin-right: 3px;
}

.box-first-containt{
	text-align: center;
}

.box-detail{
	max-width: 69px;
    margin-left: 30px;
    margin-top: 18px;
}

.cover-sign-plus{
	width: 32px;
    height: 100%;
    background: #fff;
    text-align: center;
    top: 0;
    z-index: 2;
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
    align-items: center;
}

.cover-sign-{
	width: 32px;
    height: 100%;
    background: #fff;
    text-align: center;
    top: 0;
    z-index: 2;
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
    align-items: center;
	display: none;
}

.cover-sign- button{
	border: solid 1px #bdbdbd;
	outline: none;
}

.cover-sign-plus button{
	border: solid 1px #bdbdbd;
	outline: none;
}

.box-euro{
	position: relative;
	width: 100%;
	overflow: hidden;
}

.box-containt{
	background-color: #ebebeb;
}

.box-containt span{
	font-size: 10px;
	line-height: 1.5rem;
}

.custom{
	width: 100%;
	overflow: scroll;
	/* transition-duration: 0.6s; */
}


.custom::-webkit-scrollbar{
	width: 0px;
	height: 0px;
}

.son-custom{
	width: 3000px;
}

.box-containt-last{
	display: flex;
    align-items: center;
    justify-content: center;
}

.decor-line{
	position: absolute;
    min-width: 74px;
    min-height: 3px;
    transform: translateY(13px);
    background: rgb(168, 33, 33);
}

.rel{
	position: relative;
}

.label-cvtv{
	background-color: #ebebeb;
	position: relative;
	padding: 5px;
}

.label-cvtv::after{
	width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-left: 20px solid rgba(227,227,227,0.65);
    border-bottom: 14px solid transparent;
    content: '';
    position: absolute;
    top: 0;
    right: -19px;
}

.info-cvtv{
	margin-top: 24px;
	width: 422%;
}

.containt-bs{
	overflow: hidden;
}

/* #bs-cvtv{
    transition: transform ,0.5s;
} */

.bg-pri{
	background-color: #196AB4;
}

.section-topic div a{
	color: #cc4646;
	text-decoration: underline;
	font-weight: bold;
}

.video-yt iframe{
	min-height: 405px;
}

.more-view iframe{
	max-height: 75px;
}

.more-view{
	max-height: 450px;
	overflow: auto;
}

.more-view::-webkit-scrollbar{
	background-color: #fff9f9;
	width: 10px;
}

.more-view::-webkit-scrollbar-thumb{
	background-color: #bdbdbd;
	min-height: 10px;
	border-radius: 10px;
}

.section-video{
	background-color: #fcfaf6;
}

.sticky-nav{
	position: fixed;
	top: 0px;
}


.logo-e{
	opacity: 0;
}

#stick-news{
	display: none;
	animation-duration: 0.3s;
	width: 65px;
	animation-name: ad;
	position: relative;
	
}

#stick-news a{
	color: #9f224e;
}

@keyframes ad{
	0%{opacity: 0;}
	100%{opacity: 1;}
	0%{transform: translate(-100%,0px);}
    100%{transform: translate(0%,0px);}
	
}

#stick-news::after{
	content: '';
    width: 1px;
    height: 14px;
    background: #e5e5e5;
    position: absolute;
    top: 0px;
	right: -6;
}

.asd{
	padding:1;
}

.myslide{
	justify-content: space-between;
}